@model RokibPlusNet.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "AllMoviess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllMoviess</h2>

@if (Model.Movie == null)
{
    <text> There is no Movie </text>
}

else
{
    <ul>
        @foreach (var movies in Model.Movie)
        {
            @*<text> jfeijwei </text>*@
            <li>@movies.MovieName</li>
        }
    </ul>
}